@media (max-width: 1560px) {

  .header__bottom {
    display: none;
  }

  .burger {
    margin-top: -3px;
    position: relative;
    display: block;
    z-index: 1001;
    width: 36px;
    height: 32px;
    color: var(--white);
    background-color: transparent;
    border: 0;
    background-color: var(--black);
    cursor: pointer;
    outline: 1px solid transparent;
    outline-offset: 5px;
  }
  .burger:focus {
    outline-color: var(--purple);
  }
  .burger:hover .burger__line::before {
    background-color: var(--purple);
  }
  .burger:hover .burger__line {
    background-color: var(--purple);
  }
  .burger:hover .burger__line::after {
    background-color: var(--purple);
  }
  .burger:active .burger__line::before {
    background-color: var(--dark-purple);
  }
  .burger:active .burger__line {
    background-color: var(--dark-purple);
  }
  .burger:active .burger__line::after {
    background-color: var(--dark-purple);
  }
  .burger__line {
    position: absolute;
    top: 14px;
    left: 0;
    right: auto;
    width: 27px;
    height: 4px;
    background-color: currentColor;
    transition:  background-color .3s, width .3s;
  }
  .burger__line::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: auto;
    width: 36px;
    height: 3px;
    background-color: currentColor;
    top: -11px;
    transition:  background-color .3s, width .3s;
  }
  .burger__line::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: auto;
    width: 23px;
    height: 3px;
    background-color: currentColor;
    bottom: -12px;
     transition:  background-color .3s, width .3s;

  }
  .burger--active:focus {
    outline-color: transparent;
  }
  .burger.is-opened
  .burger__line {
    background-color: transparent;
  }
  .burger.is-opened
  .burger__line::before {
    width: 36px;
    top: 0;
    transform: rotate(45deg);
    transform-origin: center;
    transition: transform .3s, background-color .3s;
  }
  .burger.is-opened
  .burger__line::after {
    width: 36px;
    bottom: 0;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform .3s, background-color .3s;
  }
  .burger.is-opened:hover
  .burger__line::before {
    width: 36px;
  }
  .burger.is-opened:hover
  .burger__line {
    width: 36px;
    background-color: transparent;
  }
  .burger.is-opened:hover
  .burger__line::after {
    width: 36px;
  }
  .burger.is-opened:active
  .burger__line::before {
    width: 36px;
  }
  .burger.is-opened:active
  .burger__line {
    width: 36px;
    background-color: transparent;
  }
  .burger.is-opened:active
  .burger__line::after {
    width: 36px;
  }

  .stop-scroll {
    overflow: hidden;
  }
  .logo {
    margin-right: 0;
  }
  .header__wrap {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 250px;
    padding: 130px 50px 50px 50px;
    height: 100vh;
    z-index: 1000;
    text-align: left;
    background-color: black;
    overflow-y: auto;
    visibility: hidden;
    transform-origin: right;
    transform: translateX(-100%);
  }

  .header__wrappper  {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  .nav__list {
    flex-direction: column;
  }
  .nav__item {
    margin: 0;
    margin-bottom: 30px;
  }
  .nav__link {
    font-size: 24px;
    line-height: 64px;
  }
  .header__user {
    justify-content: center;
    max-width: 257px;
    width: 100%;
    margin-left: 0;
    margin-top: auto;
    padding: 17px 10px;
    border: 2px solid var(--purple);
    border-radius: 100px;
  }

  .header__user::before {
    display: none;
  }

  .header__user:focus {
    background-color: var(--light-purple);
  }

  .header__user:hover .header__user-wrap {
    padding-right: 5px;

  }
  .header__search {
    display: flex;
    padding-right: 0;
  }
  .header__search-btn, .header__close-btn {
    margin-right: 0;
    width: 30px;
    height: 30px;
  }

  /* hero */
  .hero {
    padding-top: 105px;
    padding-bottom: 115px;
  }

  .hero__text {
    max-width: 660px;
    margin-top: -10px;
    margin-bottom: 132px;
  }

  .gallery__right {
    max-width: 736px;
  }

  .gallery__content {
    justify-content: space-between;
  }

  /* contacts */

  .contacts__top {
    padding-bottom: 45px;
  }

  .contacts__container  {
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts__descr {
    margin-bottom: 25px;
  }

  .form {
    margin-bottom: 33px;
  }




}

@media (max-width: 1280px) {

  .header__top {
    padding-top: 30px;
    padding-bottom: 28px;
  }

  .logo {
    max-width: 183px;
    width: 100%;
  }
 /* gallery */

 .gallery__left {
  max-width: 280px;
  flex-shrink: 0;
 }
 .gallery__right {
  max-width: 595px;
 }

 .gallery__wrap {
  margin-top: -3px;
 }

 .choices {
  margin-bottom: 106px;
 }
 .gallery__nav {
  margin-bottom: 27px;
  padding-left: 0;
 }

 .gallery__link {
  min-height: 315px;
 }


 /* catalog */
 .catalog__text  {
  margin-bottom: 39px;
 }

 .catalog__artists-list {
  max-width: 437px;
 }

 .catalog__name-list {
  column-count: 2;
  padding-top: 28px;
  padding-bottom: 30px;
 }

 .catalog__date {
  margin-bottom: 8px;
 }

 /* event */
 .event {
  padding-bottom: 60px;
 }

 .event__title  {
  margin-bottom: 13px;
 }
 .event__descr {
  padding-right: 25px;
  padding-bottom: 46px;
  padding-left: 33px;
 }
 .event__museum {
  margin-bottom: 7px;
  margin-left: auto;
  text-align: right;
 }

 .event__text {
  margin-bottom: 0;
 }

 .swiper-event-next, .swiper-event-prev {
  display: none;
 }

 .event__pagination {
  display: block;
 }

/* project */
  .project {
    padding-top: 60px;
  }


  .project__swiper {
    max-width: 818px;
  }

  /* contacts */

  .contacts__container {
    flex-direction: column;
    align-items: flex-start;
  }

  .contacts__top {
    padding-top: 43px;
    padding-bottom: 43px;
  }

  .contacts__title {
    margin-bottom: 4px;
  }

  .contacts__descr {
    margin-bottom: 22px;
  }

  .form {
    margin-right: 0;
    max-width: 100%;
  }
  .form__btn {
    max-width: 100%;
  }

  /* footer */

  .footer {
    padding-top: 40px;
  }
  .footer__link {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 1003px) {

  .header__search-btn, .header__close-btn  {
    width: 25px;
  }

  .header__form {
    top: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    padding: 0 50px;
  }

  .header__search-input {
    max-width: 100%;
    width: 100%;
    margin-right: 10px;
  }


  /* about */

  .about__title {
    margin-bottom: 16px;
  }

  /* gallery */
  .gallery {
    padding-bottom: 79px;
  }
  .gallery__content {
    flex-direction: column;
  }
  .gallery__left {
    margin-right: 0;
  }

  .gallery__wrap {
    margin-top: 0;
  }

  .choices {
    margin-bottom: 40px;
  }

  .gallery__right {
    max-width: 100%;
  }

  .gallery__nav {
    padding-top: 39px;
    padding-left: 0;
  }

  .gallery__link {
    min-height: 331px;
  }



  /* catalog */
  .catalog__text {
    margin-bottom: 21px;
  }

  .catalog__wrapper {
    flex-direction: column-reverse;
  }
  .catalog__artists-list {
    max-width: 100%;
  }

  .catalog__list {
    margin-bottom: 50px;
  }

  .catalog__name-list {
    column-count: 3;
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .catalog__date {
    margin-bottom: 0;
  }

  .catalog__pic {
    margin-bottom: 21px;
  }


  /* event */

  .event {
    padding-top: 38px;
  }

  .event__title {
    margin-bottom: 15px;
  }

  .event__descr {
    padding-top: 11px;
    padding-bottom: 49px;
  }

  .event__museum  {
    font-weight: var(--regular);
  }

  .event__descr-title {
    margin-bottom: 7px;
  }

  .event__text {
    margin-bottom: 31px;
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7px;
  }


  /* project */

  .project__wrap {
    max-width: 670px;
  }
  .project__mini-title {
    margin-bottom: 29px;
  }

  .project__text {
    margin-bottom: 27px;
  }

  .project__swiper {
    max-width: 561px;
  }

  .project__partner {
    min-height: 105px;
  }

  /* contcts */

  .contacts {
    padding-top: 43px;
  }

  .contacts__top {
    padding-top: 41px;
  }

  .contacts__descr {
    margin-bottom: 24px;
  }

  .form {
    flex-wrap: wrap;
    margin-right: 0;
    width: 100%;
    margin-bottom: 31px;
  }

  .form__label {
    max-width: 323px;
    margin-bottom: 14px;
    margin-right: 0;
  }

  .form__inp {
    padding: 15px 22px;
  }

  .form__label:first-child {
    margin-right: 20px;
  }

  .form__btn {
    max-width: 315px;
  }
}

@media (max-width: 640px) {


  .header__top {
    padding-top: 13px;
    padding-bottom: 10px;
  }
  .logo {
    max-width: 96px;
  }

  .burger {
    width: 25px;
    height: 25px;
  }
  .burger__line {
    width: 16px;
    height: 3px;
    top: 10px;
    transform: none;
  }

  .burger__line::before {
    width: 25px;
    top: -8px;
  }
  .burger__line::after {
    width: 10px;
    bottom: -8px;
  }

  .burger.is-opened
  .burger__line::before {
    width: 25px;
  }
  .burger.is-opened
  .burger__line::after {
    width: 25px;
  }
  .burger.is-opened:hover
  .burger__line::before {
    width: 25px;
  }
  .burger.is-opened:hover
  .burger__line {
    width: 25px;
  }
  .burger.is-opened:hover
  .burger__line::after {
    width: 25px;
  }
  .burger.is-opened:active
  .burger__line::before {
    width: 25px;
  }
  .burger.is-opened:active
  .burger__line {
    width: 25px;
  }
  .burger.is-opened:active
  .burger__line::after {
    width: 15px;
  }

  .header__wrap {
    padding-top: 50px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 30px;
  }

  .header__user {
    padding: 11px 5px;
    max-width: 115px;
    font-size: 12px;
    line-height: 16px;
  }

  .nav__item {
    margin-bottom: 0;
  }




  .nav__link {
    font-size: 16px;
    line-height: 32px;
  }

  .header__search {
    margin-right: 0;
  }

  .header__search-btn, .header__close-btn {
    width: 18px;
    height: 18px;
  }
  /* hero */
  .hero {
    padding-top: 29px;
    padding-bottom: 45px;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    margin-bottom: 11px;
    max-width: 258px;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
  }
  .hero__text {
    margin-bottom: 42px;
    font-size: 12px;
    line-height: 16px;
    font-weight: var(--regular);
    max-width: 265px;
    text-align: center;
  }

  .hero__link {
    max-width: 200px;
    padding: 10px;
    font-size: 12px;
    line-height: 16px;

  }

  /* about */
  .about {
    padding-bottom: 41px;
  }

  .about__title {
    margin-bottom: 12px;
  }

  /* gallery */

  .gallery {
    padding-bottom: 22px;
  }
  .gallery__left {
    margin-bottom: 29px;
    max-width: 100%;
  }
  .gallery__label:not(:last-child) {
    margin-bottom: 5px;
  }

  .choices {
    margin-bottom: 32px;
   }


   .gallery__right {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
   }

   .gallery__swiper {
    max-width: 290px;
   }
   .gallery__link {
    min-height: 368px;
   }

   .gallery__nav {
    max-width: 150px;
    padding-top: 20px;
   }


  /* cataloge */
  .catalog {
    padding-bottom: 25px;
  }

  .catalog__title {
    margin-bottom: 13px;
  }

  .catalog__text  {
    display: none;
  }
  .catalog__trigger {
    padding: 22px 50px 18px 0;
    font-size: 18px;
    line-height: 32px;
  }
  .catalog__item-icon {
    width: 30px;
    height: 30px;
  }

  .catalog__name-list  {
    column-count: 1;
    padding-top: 27px;
    padding-bottom: 30px;
  }

  .catalog__pic {
    margin-bottom: 23px;
  }
  .catalog__name {
    margin-bottom: 4px;
  }
  .catalog__date {
    margin-bottom: 8px;
  }

  .catalog__descr {
    font-size: 16px;
    line-height: 32px;
  }

  .catalog__btn {
    font-size: 16px;
  }
/*  event */
  .event {
    padding-top: 22px;
    padding-bottom: 40px;
  }

  .event__title {
    margin-bottom: 12px;
  }

  .event__descr {
    padding-top: 17px;
    padding-left: 23px;
    padding-right: 18px;

  }

  .event__museum {
    margin-bottom: 12px;
  }
  .event__text {
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 32px;
  }

  .swiper-event-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -39px;
  }
  .event .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
  }

  /* project */

  .project {
    padding-top: 42px;
    padding-bottom: 22px;
  }

  .project__wrap {
    width: 100%;
    max-width: 295px;
    padding-left: 0;
    padding-right: 0;
  }

  .project__title{
    margin-bottom: 13px;
  }

  .project__text {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 52px;
  }

  .project__mini-title {
    margin-bottom: 13px;
    font-size: 16px;
  }

  .project__swiper {
    max-width: 196px;
  }

  .project__partner {
    min-height: auto;
  }


  /* contacts */

  .contacts {
    padding-top: 25px;
  }
  .contacts__top {
    padding-top: 0;
    padding-bottom: 0px;
    border-color: transparent;
  }
  .contacts__descr {
    margin-bottom: 13px;
  }
  .contacts__title {
    margin-bottom: 0;
    font-size: 18px;
  }

  .form {
    margin-bottom: 23px;
    flex-direction: column;
    align-items: flex-start;
  }
  .form__label {
    margin-bottom: 20px;
  }
  .form__label:first-child {
    margin-right: 0;
  }
  .form__inp  {
    padding: 12px 22px;
    max-height: 40px;
  }
  .form__btn {
    padding: 6px 5px;
    max-width: 126px;
    font-size: 12px;
  }
  .form__btn-desctop {
    display: none;
  }
  .form__btn-mobile {
    display: block;
  }


  .contacts__map {
    height: 320px;
  }

  .socials__title {
    margin-bottom: 9px;
    font-weight: var(--regular);
  }

  .socials__link {
    width: 50px;
    height: 50px;
  }

  /* footer */
  .footer {
    padding-top: 19px;
  }

  .footer__container {
    flex-direction: column-reverse;
  }

  .socials {
    margin-bottom: 20px;
  }

  .footer__link {
    width: 50px;
    height: 50px;
  }
}


