.project {
  padding-top: 41px;
  padding-bottom: 40px;
}

.project__title {
  margin-bottom: 14px;
}

.project__text {
  margin-bottom: 19px;
}
/* tolltip */

.tippy-box[data-theme~='project__tooltip'] {
  background-color: var(--purple);
  color: var(--white);
}

.tippy-box[data-theme~='project__tooltip'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--purple);
}
.tippy-box[data-theme~='project__tooltip'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--purple);
}
.tippy-box[data-theme~='project__tooltip'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--purple);
}
.tippy-box[data-theme~='project__tooltip'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--purple);
}

.project__toooltip {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  color: var(--black);
  outline: 0;
}

.project__toooltip svg path{
  transition: fill var(--delay) ease-in-out, stroke var(--delay) ease-in-out;
}

.project__toooltip[aria-describedby*="tippy"] svg path:first-child {
  stroke: var(--purple);
  fill: var(--purple);
}
.project__toooltip[aria-describedby*="tippy"] svg path:last-child {
  fill: var(--white);
}

.project__toooltip svg path:first-child {
  stroke: var(--purple);
  fill: transparent;
}

.project__toooltip svg path:last-child {
  stroke: transparent;
  fill: var(--black);
}


.project__toooltip:hover svg path:first-child {
  stroke: var(--purple);
  fill: var(--light-purple);
}
.project__toooltip:hover svg path:last-child {
  fill: var(--black);
}

.project__toooltip:active svg path:first-child {
  fill: var(--purple);
}
.project__toooltip:active svg path:last-child {
  fill: var(--white);
}


.project__link {
  color: var(--purple);
  border-bottom: 1px solid transparent;
  transition: color var(--delay) ease-in-out, border-color var(--delay) ease-in-out;
}

.project__link:focus:not(:hover):not(:active) {
  color: var(--white);
}

.project__link:hover {
  border-bottom-color: var(--purple);
}

.project__link:active {
  color: var(--dark-purple);
  border-bottom-color: var(--dark-purple);
}

/* slider */
.project__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.project__wrap {
  position: relative;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;

}

.project__swiper {
  max-width: 1450px;

}

.project__mini-title {
  width: 100%;
  margin-bottom: 22px;
  font-weight: var(--bold);
  font-size: var(--mini-title-fs);
}

.project__partner {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  border: 1px solid var(--dark-white);
  outline: 0;
  transition: border-color var(--delay) ease-in-out;
}

.project__partner img {
  opacity: .4;
  filter: grayscale(1);
  transition:  filter var(--delay) ease-in-out, opacity var(--delay) ease-in-out;

}

.project__partner:focus:not(:hover):not(:active) {
  border-color: var(--purple);
}

.project__partner:hover {
  border-color: transparent;
}
.project__partner:hover img{
  opacity: 1;
  filter: grayscale(0);
}
.project__partner:active {
  border-color: var(--purple);
}


 .swiper-project-next, .swiper-project-prev {
  color: var(--white);
  top: calc(50% - 8px);
  transform: translateY(50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--light-white);
  outline: 0;
  background-color: var(--light-white);
  transition: border-color var(--delay) ease-in-out, background-color var(--delay) ease-in-out;
}

.swiper-project-prev {
  left: 0;
}
.swiper-project-next {
  right:0;
}

 .swiper-project-next:after, .swiper-project-prev:after {
  font-size: 10px;
  color: var(--black);
}


 .swiper-project-next:focus:not(:hover):not(:active), .swiper-project-prev:focus:not(:hover):not(:active) {
  border-color: var(--purple);
}
 .swiper-project-next:hover, .swiper-project-prev:hover {
  background-color: var(--light-purple);
  border-color: var(--light-purple);
}
 .swiper-project-next:active,  .swiper-project-prev:active {
  background-color: var(--light-purple);
  border-color: var(--purple);
}

 .swiper-project-prev.swiper-button-disabled,   .swiper-project-next.swiper-button-disabled{
  border-color: var(--light-white);
}
