.catalog {
  padding-bottom: 42px;
}

.catalog__text {
  margin-bottom: 39px;
}


.catalog__wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog__artists-list {
  margin-right: 50px;
  max-width: 750px;
  width: 100%;

}

.catalog__list {
  width: 100%;
}

.catalog__artists-item {
  display: none;
}

.catalog__artists-item.active {
  display: block;
  animation-name: fade-in;
  animation-duration: .7s;
}
/* левый блок */
.catalog__pic {
  display: flex;
  margin-bottom: 31px;
}
.catalog__name {
  font-size: var(--mini-title-fs);
  line-height: var(--default-lh);
  font-weight: var(--semibold);
}

.catalog__date {
  display: block;
  margin-bottom: 6px;
  font-size: 12px;
  color: var(--gray);
}
.catalog__descr {
  max-width: 750px;
}
.catalog__link {
  color: var(--purple);
  font-weight: var(--semibold);
}

.catalog__link:focus {
  color: var(--white);
}

.catalog__link:active {
  color: var(--dark-purple);
}

/* правый блок  accardion */
.catalog__item:first-child .catalog__trigger {
  border-top: 1px solid var(--dark-white);
}


.catalog__trigger {
  position: relative;
  width: 100%;
  margin-top: -1px;
  padding: 43px 120px 43px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--dark-white);
  border-right: none;
  border-left: none;
  font-size: var(--mini-title-fs);
  font-weight: var(--bold);
  color: var(--light-black);
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: color 0.3s ease, border-color 0.3s ease;
}
.catalog__item:first-child .catalog__trigger:hover,
.catalog__trigger:hover {
  border-color: var(--purple);
}
.catalog__item:first-child .catalog__trigger:active,
.catalog__trigger:active,
.is-active.catalog__item:first-child .catalog__trigger,
.is-active.catalog__item .catalog__trigger {
  border-color: var(--dark-purple);
  color: var(--white);
}

.is-active.catalog__item:first-child .catalog__trigger .catalog__triger-text::before,
.is-active.catalog__item .catalog__trigger .catalog__triger-text::before{
  transform: translate(-50%, -50%) scaleX(1);

}
.catalog__triger-text {
  position: relative;
}
.catalog__triger-text-wrap {
  position: relative;
  z-index: 1;
}
.catalog__triger-text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 8px);
  height: 100%;
  transform: translate(-50%, -50%) scaleX(0);
  background-color: var(--purple);
  transition: transform 0.3s ease;
}
.catalog__trigger:hover {
  color: var(--purple);
}
.catalog__trigger:active {
  color: var(--dark-purple);
}
.catalog__trigger:focus:not(:active) {
  color: var(--white);
  outline: none;
}
.catalog__trigger:focus:not(:active) .catalog__triger-text::before {
  transform: translate(-50%, -50%) scaleX(1);
}
.catalog__item-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 50px;
  height: 50px;
  transform: translateY(-50%) rotate(-180deg);
  transition: background-color.3s, 0.6s ease, transform 0.3s, 0.6s ease;
}

.catalog__item-icon-path {
  transition: fill 0.5s ease, stroke 0.5s ease;
}

.catalog__trigger:hover .catalog__item-icon-path,
.catalog__trigger:focus .catalog__item-icon-path {
  fill: var(--light-purple);
  stroke: var(--purple);
}


.catalog__trigger:hover .catalog__item-icon::before,
.catalog__trigger:hover .catalog__item-icon::after,
.catalog__trigger:focus .catalog__item-icon::before,
.catalog__trigger:focus .catalog__item-icon::after {
  background-color: var(--white);
}

.is-active .catalog__item-icon {
  transform: translateY(-50%) rotate(0);
}


.is-active .accordion__heading .head-icon-round {
  fill: var(--violet-ultra-light);
  stroke: var(--violet-middle);
}

.catalog__content{
  overflow: hidden;
  visibility: hidden;
  margin-top: -1px;
  border-bottom: 1px solid transparent;

}

.is-active .catalog__content {
  visibility: visible;
  border-color: var(--gray);
}


.catalog__name-list {
  padding-top: 28px;
  padding-bottom: 29px;
  column-count: 3;
}


.catalog__btn {
  border: 0;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  color: var(--light-black);
  transition: border-color var(--delay) ease-in-out;
}

.catalog__btn::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--purple);
  transition: width var(--delay) ease-in-out;
}

.catalog__btn.active {
  color: var(--purple);
}
.catalog__btn:focus.active {
  color: var(--light-black);
}

.catalog__btn:hover {
  color: var(--light-black);
}
.catalog__btn:hover::after {
  width: 100%;
}

.catalog__btn:active {
  color: var(--light-black);
}


/* пустые ячейки */
.catalog__modul {
  display: flex;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 12px;
}

.catalog__box {
  position: relative;
  margin-right: 36px;
  max-width: 251px;
  width: 100%;
  min-height: 165px;
  background-color: var(--gray);
}

.catalog__message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog__box::before {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  border: 2px solid var(--gray);
}

.catalog__mini-title {
  margin-bottom: 5px;
  font-size: var(--mini-title-fs);
  text-align: left;
  font-weight: var(--bold);
  color: var(--light-black);
}

.catalog__mini-text {
  display: block;
  margin-bottom: 5px;
  max-width: 275px;
  line-height: 22px;
  color: var(--light-black);
}
.catalog__mini-link {
  display: block;
  font-weight: var(--bold);
  color: var(--purple);
  border-bottom: 1px solid transparent;
  transition: border-color var(--delay) ease-in-out, color var(--delay) ease-in-out;
}


.catalog__mini-link:focus:not(:hover):not(:active)  {
  color: var(--white);
}
.catalog__mini-link:hover:not(:active)  {
  border-bottom-color: 1px solid var(--purple);
}
.catalog__mini-link:active  {
  border-bottom-color: 1px solid var(--black);
  color: var(--black);
}
